*{
	font-family: 'Roboto', sans-serif;
}
/*banner start*/
.banner{
	min-height: 100vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.custom_bg{
	background: rgba(0,0,0,0.5);
}
/*banner end*/
